-----BEGIN CERTIFICATE-----
MIIDmzCCAoOgAwIBAgIUPpT0oNixCW+Hrd4tfBMmLaDrzpYwDQYJKoZIhvcNAQEL
BQAwXTELMAkGA1UEBhMCRUcxDjAMBgNVBAgMBUNhaXJvMQ4wDAYDVQQHDAVDYWly
bzERMA8GA1UECgwIVlByb2ZpbGUxCzAJBgNVBAsMAklUMQ4wDAYDVQQDDAV3ZWIw
MTAeFw0yNTExMjYwMTMwMjNaFw0yNjExMjYwMTMwMjNaMF0xCzAJBgNVBAYTAkVH
MQ4wDAYDVQQIDAVDYWlybzEOMAwGA1UEBwwFQ2Fpcm8xETAPBgNVBAoMCFZQcm9m
aWxlMQswCQYDVQQLDAJJVDEOMAwGA1UEAwwFd2ViMDEwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQC617N1Zx+N8DNGsgVQzHTfjqlwpaKFyVCvhSqJ4wRa
lt6FTXVxNAifOx/XhWjnZFPBoCE83CzhPDs8hw1RrOgQwfhWB6YTdL7/k0niKuty
PlZxWS0xESqnhlkhYmg58ZXsA+5c+k4XtYmfM35bXx7j4DNkhhxVsDkt8bGtJuuf
4fXTunQ5Ej27W+7wzy6Nj379Fv65jWX45tERjbIGAATh03w1022JGz/dJmCMCIWa
tsmVszvj/6qbYv9CVx6BX49mg6dAxUHT+RDQhQ6wWHZQGk9ytLTrVaxRor4or6fG
YiE425SFkk5kBD3sph+cM/Eg5BY3iUgrh7f4kuz8zT7PAgMBAAGjUzBRMB0GA1Ud
DgQWBBTROPMqvlHU5a4FZ+TG2MEzZyQaQDAfBgNVHSMEGDAWgBTROPMqvlHU5a4F
Z+TG2MEzZyQaQDAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCk
LaJOuCPaF4UQtm88N/WhHpvTltQ2qfUmQw08i1TdwhIeZ+jktdBzydJSUzAYchUC
gGXdmnr1fssXCtiX+675SCVaA8B9BM8k1gt3jVArZL+9H3ScC6w4xtLQ+gc6lnzF
0pcZnOS9cosmM60WBlw/u1cCjUJFicMeBdnHClMqa90XYYKpidzZfrZqPdM2QPdo
L0ZXXtSZG5WYp5Nn05sDGwCm+HzYcgXUPvaW7bG4/z6zsfY5r0z9JSmoIPZQnItG
hN0Q34+Uq+A3tHpmXS2W72/QqwyKpfOTsdN/vsBxW/qXJ4vigwTlvLuQN5bW/Amq
r6CHLsbApjB1Uv5g4Jrd
-----END CERTIFICATE-----
