- name: Install epel mariadb git pymysql
  package:
    name: 
     - epel-release
     - mariadb-server
     - git
     - python3-PyMySQL
    state: present

- name: clone the program-repo
  ansible.builtin.git:
    repo: https://github.com/mohamed-abouseada121/project-code.git
    dest: "{{ ansible_env.HOME }}/project-code"

- name: start mariadb 
  service:
    name:  mariadb
    state: started

- name: start firewalld
  service:
    name:  firewalld
    state: started


- name: Copy .my.cnf file with root password credentials.
  ansible.builtin.template:
    src: "root-my.cnf.j2"
    dest: "{{ mariadb_admin_home }}/.my.cnf"
    owner: root
    group: root
    mode: 0600
 
- name: open port 3306
  ansible.posix.firewalld:
    zone: public
    port: 3306/tcp
    permanent: true
    state: enabled
    immediate: yes
  notify: restart firewalld


- name: Set root password
  ansible.builtin.mysql_user:
    name: root
    update_password: always
    password: "admin123"
    login_unix_socket: /var/lib/mysql/mysql.sock
  ignore_errors: true


- name: delete anon users
  mysql_user:
    name: ''
    state: absent
    login_unix_socket: /var/lib/mysql/mysql.sock 

- name: add accounts database
  mysql_db:
    name: accounts
    state: present
    config_file: /root/.my.cnf
    login_unix_socket: /var/lib/mysql/mysql.sock
- name: import database backup
  mysql_db:
    name: accounts
    state: import
    target: /root/project-code/src/main/resources/db_backup.sql
    config_file: /root/.my.cnf
    login_unix_socket: /var/lib/mysql/mysql.sock

- name: Allow root remote access
  mysql_user:
    name: root
    host: "%"
    password: "admin123"       
    priv: "*.*:ALL,GRANT"   
    state: present
    login_user: root
    login_password: "admin123"
    login_unix_socket: /var/lib/mysql/mysql.sock

